.product__list * {
  box-sizing: border-box;
}

.product__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.item__list:nth-child(odd) {
  border-right: 2px solid var(--primary);
}

.item {
  border-top: 2px solid var(--primary);
  border-bottom: 2px solid var(--primary);
}
