@tailwind base;
@tailwind components;
@tailwind utilities;

.root,
#root,
#docs-root {
  --primary: #d86145;
  --sub-primary: #e8a08f;
  --black-100: #252525;
  --black-800: #555555;
  --black-600: #676767;
  --black-400: #9c9c9c;
  --black-200: #c0c0c0;
  --white-200: #f5f5f5;
}

body {
  color: var(--black-100);
  font-family: ;
}

.tablist .swiper-slide-active {
  background-color: var(--primary);
  color: #fff;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

::-webkit-scrollbar {
  display: none;
}

.box-shadow-custom {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.magazine-img {
  height: 190px;
  width: auto;
  max-width: none;
}
