@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NotoSans';
  src: url('/public/fonts/NotoSansKR-Medium.otf');
}

@font-face {
  font-family: 'NotoSans-Bold';
  src: url('/public/fonts/NotoSansKR-Bold.otf');
}

.root,
#root,
#docs-root {
  --primary: #d86145;
  --sub-primary: #e8a08f;
  --black-100: #252525;
  --black-800: #555555;
  --black-600: #676767;
  --black-400: #9c9c9c;
  --black-200: #c0c0c0;
  --white-200: #f5f5f5;
}

body {
  color: var(--black-100);
  font-family: 'NotoSans';
}

.tablist .swiper-slide-active {
  background-color: var(--primary);
  color: #fff;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

::-webkit-scrollbar {
  display: none;
}

.box-shadow-custom {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.magazine-img {
  height: 190px;
  width: auto;
  max-width: none;
}

.ratingStar {
  display: inline-block;
  width: 56.6px;
  height: 14px;
  background-image: url(/public/assets/star.png);
  background-repeat: no-repeat;

  background-size: 56.6px;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
